{% load static %} {% load tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Google Font -->
    <link rel="stylesheet" href=" {% static 'details/detail.css' %}" />

    <link rel="stylesheet" type="text/css" href="style/fonts/style.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato&display=swap"
      rel="stylesheet"
    />
    {% tailwind_css %}
  </head>
  <body>
    {% include 'header/header.html' %}
    <main class="content-wrapper">
      <header class="hero-header">
        <section class="intro-sec">
          <div class="dddd"></div>
          <img
            id="cover-detail-pic"
            src="{% static 'images/imgala.jpg' %}"
            alt="My image"
          />
          <img
            id="profile-detail-pic"
            src="{% static 'images/profile.jpg' %}"
            alt=""
          />
          <h2 id="details-surname">DJ ARAFAT</h2>
          <h5>Houon Ange Didier</h5>
        </section>

        <section class="home-hiw">
          <img
            src="{% static 'images/detail-cover-right.jpg' %}"
            alt=""
            srcset=""
          />
          <div id="details-infos">
            <div class="info-title"><i class="far fa-address-book"></i> <span>Civilité</span> </div>
			<ul class="ultitre">
				<li><i class="fas fa-arrow-alt-circle-right"></i> Nom : <span>Cristiano</span></li>
				<li><i class="fas fa-arrow-alt-circle-right"></i> Prenom : <span>Ronaldo</span></li>
				<li><i class="fas fa-arrow-alt-circle-right"></i> Date de naissance : <span>18/12/1988</span></li>
				<li><i class="fas fa-arrow-alt-circle-right"></i> age : <span>30 ans</span></li>
				<li><i class="fas fa-arrow-alt-circle-right"></i> Nationalité : <span>portugaise</span></li>
			</ul>
            <div class="info-title" > <i class="fas fa-couch"></i> <span>Famille</span> </div>
			<ul class="ultitre">
				<li><i class="fas fa-arrow-alt-circle-right"></i> Père : <span>Jorge Lora</span></li>
				<li><i class="fas fa-arrow-alt-circle-right"></i> Mère : <span>Bonato Rachel</span></li>
				<li><i class="fas fa-arrow-alt-circle-right"></i> Enfants : <span>Louise L., Celine B., </span></li>
				<li><i class="fas fa-arrow-alt-circle-right"></i> Soeurs : <span>Marie B., Solange K.</span></li>
				<li><i class="fas fa-arrow-alt-circle-right"></i> Frères : <span>Donatien S., Roger Z.</span></li>
			</ul>
			<div class="info-title"><i class="fas fa-chalkboard"></i> <span>Parcous Scolaire</span> </div>
	
			<ul class="ultitre">
				<li><i class="fas fa-arrow-alt-circle-right"></i> Lycée : <span>Jorge Lora</span></li>
				<li><i class="fas fa-arrow-alt-circle-right"></i> Université(s) : <span>Bonato Rachel</span></li>
				<li><i class="fas fa-arrow-alt-circle-right"></i> Diplomes : <span>Louise L., Celine B., </span></li>
			</ul>
			<div class="info-title"><i class='fas fa-tasks' style='font-size:24px'></i> <span>Parcous Pro</span></div>
			<ul class="ultitre">
				<li><i class="fas fa-arrow-alt-circle-right"></i> 1995 : <span>Directeur générale USTA</span></li>
				<li><i class="fas fa-arrow-alt-circle-right"></i> 2000 : <span>president de la republique</span></li>
			</ul>
          </div>
        </section>

        <section>
          <div class="list">
            <h3 class="list-title">Sommaire</h3>
		
            <ul class="list-items">
              <li><a href="#bio"><i class="fas fa-bold"></i> Petite bio</a> </li>
              <li><a href="#famille"><i class="fas fa-couch"></i> Famille</a> </li>
              <li> <a href="#parcoursS"><i class="fas fa-chalkboard"></i> Parcours Scolaire</a></li>
              <li><a href="#parcoursP"><i class='fas fa-tasks' style='font-size:24px'></i> Parcours Professionnel</a></li>
              <li><a href="#recompense"><i class='fas fa-award' style='font-size:24px'></i> Recompenses</a></li>
              <li ><a href="#oeuvre"><i class="fa fa-globe"></i> Oeuvres</a></li>
              <li><a href="#bibliotheque"><i class="fas fa-atlas"></i> Bibliothèque</a></li>
              <li><a href="#cv"><i class="fab fa-black-tie"></i> CV</a></li>
            </ul>
          </div>
        </section>
        <section id="main-section">
          <div  class="chapter">
            <h3 id="bio">Petite Bio</h3>
            <p>
              Internet n’est pas le seul réseau. Il existe un autre réseau plus
              performant. Je ne t’apprendrais rien en te disant qu’Internet a
              été crée par l’armée Américaine dans un but militaire. Internet
              n’était que le prototype. Un autre réseau a été créé pour les
              militaires. Complètement indépendant d’Internet. Tirant des leçons
              du premier réseau, le petit frère d’Internet est devenue un grand
              frère. David se rappelait de ce programme mélangeant deux
              anciennes technologies. Il s’en souvenait très bien, cinq années
              de travail acharné pour réaliser un vieux rêve d’enfant un peu
              solitaire. Il voulait un ami et il avait trouvé en l’informatique
              la possibilité d’avoir cet ami. Un ami capable de réfléchir vite,
              exempt de sentiment. David se rappelait de ce programme mélangeant
              deux anciennes technologies. Il s’en souvenait très bien, cinq
              années de travail acharné pour réaliser un vieux rêve d’enfant un
              peu solitaire. Il voulait un ami et il avait trouvé en
              l’informatique la possibilité d’avoir cet ami. Un ami capable de
              réfléchir vite, exempt de sentiment.
            </p>
          </div>
		
          <div  class="chapter">
            <h3 id ="famille">Famille</h3>
			<p>
				Un autre réseau a été créé pour les
				militaires. Complètement indépendant d’Internet. Tirant des leçons
				du premier réseau, le petit frère d’Internet est devenue un grand
				frère. David se rappelait de ce programme mélangeant deux
				anciennes technologies. Il s’en souvenait très bien, cinq années
				de travail acharné pour réaliser un vieux rêve d’enfant un peu
				solitaire. Il voulait un ami et il avait trouvé en l’informatique
				la possibilité d’avoir cet ami. Un ami capable de réfléchir vite,
				exempt de sentiment. David se rappelait de ce programme mélangeant
				deux anciennes technologies. Il s’en souvenait très bien, cinq
				années de travail acharné pour réaliser un vieux rêve d’enfant un
				peu solitaire. Il voulait un ami et il avait trouvé en
				l’informatique la possibilité d’avoir cet ami. Un ami capable de
				réfléchir vite, exempt de sentiment.Il voulait un ami et il avait trouvé en
				l’informatique la possibilité d’avoir cet ami. Un ami capable de
				réfléchir vite, exempt de sentiment.
			  </p>
          </div>
          <div  class="chapter">
            <h3 id="parcoursS" >Parcours scolaire</h3>
			<p>
				Un autre réseau a été créé pour les
				militaires. Complètement indépendant d’Internet. Tirant des leçons
				du premier réseau, le petit frère d’Internet est devenue un grand
				frère. David se rappelait de ce programme mélangeant deux
				anciennes technologies. Il s’en souvenait très bien, cinq années
				de travail acharné pour réaliser un vieux rêve d’enfant un peu
				solitaire. Il voulait un ami et il avait trouvé en l’informatique
				la possibilité d’avoir cet ami. Un ami capable de réfléchir vite,
				exempt de sentiment. David se rappelait de ce programme mélangeant
				deux anciennes technologies. Il s’en souvenait très bien, cinq
				années de travail acharné pour réaliser un vieux rêve d’enfant un
				peu solitaire. Il voulait un ami et il avait trouvé en
				l’informatique la possibilité d’avoir cet ami. Un ami capable de
				réfléchir vite, exempt de sentiment.Il voulait un ami et il avait trouvé en
				l’informatique la possibilité d’avoir cet ami. Un ami capable de
				réfléchir vite, exempt de sentiment.
				Il voulait un ami et il avait trouvé en
				l’informatique la possibilité d’avoir cet ami. Un ami capable de
				réfléchir vite, exempt de sentiment.Il voulait un ami et il avait trouvé en
				l’informatique la possibilité d’avoir cet ami. Un ami capable de
				réfléchir vite, exempt de sentiment.
			  </p>
          </div>
		  <div  class="chapter">
            <h3 id="parcoursP">Parcours Professionnel</h3>
			<p>
				Un autre réseau a été créé pour les
				militaires. Complètement indépendant d’Internet. Tirant des leçons
				du premier réseau, le petit frère d’Internet est devenue un grand
				frère. David se rappelait de ce programme mélangeant deux
				anciennes technologies. Il s’en souvenait très bien, cinq années
				de travail acharné pour réaliser un vieux rêve d’enfant un peu
				solitaire. Il voulait un ami et il avait trouvé en l’informatique
				la possibilité d’avoir cet ami. Un ami capable de réfléchir vite,
				exempt de sentiment. David se rappelait de ce programme mélangeant
				deux anciennes technologies. Il s’en souvenait très bien, cinq
				années de travail acharné pour réaliser un vieux rêve d’enfant un
				peu solitaire. Il voulait un ami et il avait trouvé en
				l’informatique la possibilité d’avoir cet ami. Un ami capable de
				réfléchir vite, exempt de sentiment.Il voulait un ami et il avait trouvé en
				l’informatique la possibilité d’avoir cet ami. Un ami capable de
				réfléchir vite, exempt de sentiment.
				Il voulait un ami et il avait trouvé en
				l’informatique la possibilité d’avoir cet ami. Un ami capable de
				réfléchir vite, exempt de sentiment.Il voulait un ami et il avait trouvé en
				l’informatique la possibilité d’avoir cet ami. Un ami capable de
				réfléchir vite, exempt de sentiment.
			  </p>
          </div>
		  <div  class="chapter">
            <h3 id="recompense">Recompenses</h3>
			<p>
				Un autre réseau a été créé pour les
				militaires. Complètement indépendant d’Internet. Tirant des leçons
				du premier réseau, le petit frère d’Internet est devenue un grand
				frère. David se rappelait de ce programme mélangeant deux
				anciennes technologies. Il s’en souvenait très bien, cinq années
				de travail acharné pour réaliser un vieux rêve d’enfant un peu
				solitaire. Il voulait un ami et il avait trouvé en l’informatique
				la possibilité d’avoir cet ami. Un ami capable de réfléchir vite,
				exempt de sentiment. David se rappelait de ce programme mélangeant
				deux anciennes technologies. Il s’en souvenait très bien, cinq
				années de travail acharné pour réaliser un vieux rêve d’enfant un
				peu solitaire. Il voulait un ami et il avait trouvé en
				l’informatique la possibilité d’avoir cet ami. Un ami capable de
				réfléchir vite, exempt de sentiment.Il voulait un ami et il avait trouvé en
				l’informatique la possibilité d’avoir cet ami. Un ami capable de
				réfléchir vite, exempt de sentiment.
				Il voulait un ami et il avait trouvé en
				l’informatique la possibilité d’avoir cet ami. Un ami capable de
				réfléchir vite, exempt de sentiment.Il voulait un ami et il avait trouvé en
				l’informatique la possibilité d’avoir cet ami. Un ami capable de
				réfléchir vite, exempt de sentiment.
			  </p>
          </div>
		  <div  class="chapter">
            <h3 id="oeuvre">Oeuvres</h3>
			<p>
				Un autre réseau a été créé pour les
				militaires. Complètement indépendant d’Internet. Tirant des leçons
				du premier réseau, le petit frère d’Internet est devenue un grand
				frère. David se rappelait de ce programme mélangeant deux
				anciennes technologies. Il s’en souvenait très bien, cinq années
				de travail acharné pour réaliser un vieux rêve d’enfant un peu
				solitaire. Il voulait un ami et il avait trouvé en l’informatique
				la possibilité d’avoir cet ami. Un ami capable de réfléchir vite,
				exempt de sentiment. David se rappelait de ce programme mélangeant
				deux anciennes technologies. Il s’en souvenait très bien, cinq
				années de travail acharné pour réaliser un vieux rêve d’enfant un
				peu solitaire. Il voulait un ami et il avait trouvé en
				l’informatique la possibilité d’avoir cet ami. Un ami capable de
				réfléchir vite, exempt de sentiment.Il voulait un ami et il avait trouvé en
				l’informatique la possibilité d’avoir cet ami. Un ami capable de
				réfléchir vite, exempt de sentiment.
				Il voulait un ami et il avait trouvé en
				l’informatique la possibilité d’avoir cet ami. Un ami capable de
				réfléchir vite, exempt de sentiment.Il voulait un ami et il avait trouvé en
				l’informatique la possibilité d’avoir cet ami. Un ami capable de
				réfléchir vite, exempt de sentiment.
			  </p>
          </div>
		  <div  class="chapter">
            <h3 id="bibliotheque">Bibliothèque</h3>
			<p>
				Un autre réseau a été créé pour les
				militaires. Complètement indépendant d’Internet. Tirant des leçons
				du premier réseau, le petit frère d’Internet est devenue un grand
				frère. David se rappelait de ce programme mélangeant deux
				anciennes technologies. Il s’en souvenait très bien, cinq années
				de travail acharné pour réaliser un vieux rêve d’enfant un peu
				solitaire. Il voulait un ami et il avait trouvé en l’informatique
				la possibilité d’avoir cet ami. Un ami capable de réfléchir vite,
				exempt de sentiment. David se rappelait de ce programme mélangeant
				deux anciennes technologies. Il s’en souvenait très bien, cinq
				années de travail acharné pour réaliser un vieux rêve d’enfant un
				peu solitaire. Il voulait un ami et il avait trouvé en
				l’informatique la possibilité d’avoir cet ami. Un ami capable de
				réfléchir vite, exempt de sentiment.Il voulait un ami et il avait trouvé en
				l’informatique la possibilité d’avoir cet ami. Un ami capable de
				réfléchir vite, exempt de sentiment.
				Il voulait un ami et il avait trouvé en
				l’informatique la possibilité d’avoir cet ami. Un ami capable de
				réfléchir vite, exempt de sentiment.Il voulait un ami et il avait trouvé en
				l’informatique la possibilité d’avoir cet ami. Un ami capable de
				réfléchir vite, exempt de sentiment.
			  </p>
          </div>
		  <div  class="chapter">
            <h3 id="cv">CV</h3>
			<p>
				Un autre réseau a été créé pour les
				militaires. Complètement indépendant d’Internet. Tirant des leçons
				du premier réseau, le petit frère d’Internet est devenue un grand
				frère. David se rappelait de ce programme mélangeant deux
				anciennes technologies. Il s’en souvenait très bien, cinq années
				de travail acharné pour réaliser un vieux rêve d’enfant un peu
				solitaire. Il voulait un ami et il avait trouvé en l’informatique
				la possibilité d’avoir cet ami. Un ami capable de réfléchir vite,
				exempt de sentiment. David se rappelait de ce programme mélangeant
				deux anciennes technologies. Il s’en souvenait très bien, cinq
				années de travail acharné pour réaliser un vieux rêve d’enfant un
				peu solitaire. Il voulait un ami et il avait trouvé en
				l’informatique la possibilité d’avoir cet ami. Un ami capable de
				réfléchir vite, exempt de sentiment.Il voulait un ami et il avait trouvé en
				l’informatique la possibilité d’avoir cet ami. Un ami capable de
				réfléchir vite, exempt de sentiment.
				Il voulait un ami et il avait trouvé en
				l’informatique la possibilité d’avoir cet ami. Un ami capable de
				réfléchir vite, exempt de sentiment.Il voulait un ami et il avait trouvé en
				l’informatique la possibilité d’avoir cet ami. Un ami capable de
				réfléchir vite, exempt de sentiment.
			  </p>
          </div>
        </section>
      </header>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
      const $body = $("body");
      const $menuOpen = $(".menu-toggle");
      const $menuClose = $(".cancel-btn");
      const $btnSearch = $(".search-toggle");
      $(function () {
        $menuOpen.click(function () {
          $body.addClass("menu-open");
        });
        $menuClose.click(function () {
          $body.removeClass("menu-open");
        });

        $btnSearch.click(function () {
          $body.toggleClass("search-open");
        });
      });
    </script>
  </body>
</html>
