@charset "UTF-8";
pre strong {
  color: red;
}

h1 {
  font-size: 5rem;
  font-weight: normal;
  line-height: 4rem;
  letter-spacing: -3px;
  color: gray;
  text-shadow: 1px 2px 1px white;
}

h1 strong {
  color: rebeccapurple;
  font-weight: 800;
  font-size: 6.3rem;
  border: 3px dashed #eee;
  border-radius: 10px;
  padding: 16px;
}

/*********** start of navbar code ************/
:root {
  --navbar-height: 56px;
  --navbar-background-color: white;
  --navbar-item-text-color: #888888;
  --navbar-item-background-color: var(--navbar-background-color);
  --navbar-item-text-color-hover: rebeccapurple;
  --navbar-item-font: bold 1rem/1rem "Open Sans", Arial, Helvetica, sans-serif;
  --navbar-item-background-color-hover: dimgray;
  --navbar-font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.navbara {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--navbar-background-color);
  font-family: var(--navbar-font-family);
  z-index: 9999;
}

.navbara #togglericona {
  visibility: hidden;
}

.navbara #togglericona:after {
  content: "☰";
  position: absolute;
  visibility: visible;
  color: black;
  font-size: 1.5rem;
  width: 1.8rem;
  height: 1.8rem;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 1.8rem;
  border-radius: 4px;
  border: 2px solid #ffffff00;
}

.navbara #togglericona:checked:after {
  color: black;
  border: 2px solid #f0f0f0;
}

.nava {
  position: fixed;
  top: 40px;
  left: 0px;
  right: 0px;
  visibility: hidden;
  opacity: 0;
  padding: 8px;
  transition: all 0.5s ease;
  margin: 0px;
  display: flex;
  flex-direction: column;
  background-color: var(--navbar-background-color);
  box-shadow: 0px 4px 4px 0px #00000088;
}

.navbara #togglericona:checked ~ div.nava {
  visibility: visible;
  transition: all 0.3s ease;
  opacity: 1;
}

.nava a {
  padding: 8px;
  font: var(--navbar-item-font);
  text-decoration: none;
  color: var(--navbar-item-text-color);
  background-color: var(--navbar-item-background-color);
}

.nava a:hover {
  color: var(--navbar-item-text-color-hover);
}

.nava p {
  margin: 0;
  padding: 8px;
  color: var(--navbar-item-text-color);
}

.dropdowna {
  position: relative;
  display: block;
  color: var(--navbar-item-text-color);
  font: var(--navbar-item-font);
}

.dropdowna label {
  display: block;
  padding: 8px;
}

.dropdowna label:after {
  position: absolute;
  content: "▼";
  color: var(--navbar-item-text-color);
  font-size: 0.75rem;
  top: 8px;
  margin-left: 4px;
}

.dropdowna label:hover {
  color: var(--navbar-item-text-color-hover);
}

.dropdowna label:hover:after {
  color: var(--navbar-item-text-color-hover);
}

.dropdowna input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.dropdowna input:checked ~ ul {
  max-height: 500px;
  transition: max-height 0.5s ease;
  margin: 16px 0;
}

.dropdowna ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.25s ease;
}

.dropdowna li {
  margin: 12px 0px 12px 16px;
}

.dropdowna a {
  color: black;
  text-decoration: none;
  font-weight: normal;
}

.navbara form {
  display: flex;
  flex-direction: row;
  padding: 12px;
  justify-content: flex-start;
  position: relative;
  left: 100%;
}

.navbara form input {
  font-size: 1rem;
  width: 20rem;
  padding-left: 10px;
  margin: 0 8px 0 0;
  border-radius: 30px;
}

.navbara form button {
  background-color: white;
  border: 1px solid #bbbbbb;
  padding: 4px;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 4px;
}

.branda {
  position: fixed;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--navbar-background-color);
  visibility: visible;
  top: 0;
  left: 22.5%;
  width: 50%;
}

.branda-icon {
  font-size: 1.8rem;
  font-weight: bolder;
  color: rebeccapurple;
}

.branda-name {
  margin-left: 8px;
  font-weight: bolder;
}

/* helpers */
.navbara-centered {
  justify-content: center;
}

@media (min-width: 768px) {
  .navbara #togglericona:checked ~ div.nava,
.navbara #togglericona ~ div.nava {
    visibility: visible;
  }

  .navbara {
    height: var(--navbar-height);
    background-color: var(--navbar-background-color);
    flex-direction: row;
    display: flex;
    visibility: visible;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 1;
    width: 100%;
    box-shadow: 0px 1px 5px 0px #88888888;
  }

  .toggler {
    display: none;
  }

  .navbara form {
    border-top: 0px;
    border-bottom: 0px;
    padding: 8px;
  }

  .nava {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 0;
    opacity: 1;
    box-shadow: none;
    background-color: #ffffff00;
    /* transparent */
  }

  .at-center {
    position: absolute;
  }

  .at-right {
    position: absolute;
    justify-content: flex-end;
  }

  .dropdowna {
    margin: 0 8px;
  }

  .dropdowna ul {
    position: absolute;
    top: 24px;
    display: flex;
    flex-direction: column;
    background-color: var(--navbar-background-color);
    padding: 0;
    border: 1px solid white;
  }

  .dropdowna input:checked ~ ul {
    max-height: 500px;
    transition: max-height 0.5s ease;
    margin: 16px 0;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    box-shadow: 5px 5px 5px 0px #99999988;
  }

  .dropdowna ul li {
    width: 100%;
    margin: 4px;
    padding: 0;
    display: flex;
  }

  .dropdowna ul li a {
    padding: 8px;
    margin: 0;
    display: block;
    width: 100%;
    white-space: nowrap;
  }

  .navbara form {
    margin-top: 0px;
  }

  .branda {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    visibility: visible;
    margin: 0;
    padding: 0;
    left: 0;
    width: 150px;
    transform: translate(0, 0);
    white-space: nowrap;
  }
}
@media (min-width: 1200px) {
  .nava {
    justify-content: center;
  }

  .nava * {
    margin: 0px 8px;
  }

  .navbara form {
    margin-top: 0;
  }
}
.userImage {
  position: absolute;
  top: -2px;
  right: 0%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.headeruserprofile {
  position: relative;
  left: 200%;
}
.headeruserprofile h5 {
  position: absolute;
  right: 120%;
}

.dropdown-btn {
  position: relative;
  top: 15px;
  right: 28%;
}

/* Dropdown button on hover & focus */
.dropdown-btn:hover,
.dropdown-btn:focus {
  outline: 2px #ccc;
}

/* Dropdown content (hidden by default) */
.dropdown-menu {
  display: none;
  position: absolute;
  margin-top: 12px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-menu img {
  text-align: center;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

/* Links inside the dropdown */
.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-menu a:hover {
  background-color: #f1f1f1;
}

/*
 * Show the dropdown menu (use JS to add this class to the .dropdown-content container
 * when the user clicks on the dropdown button).
 */
.show {
  display: block;
}/*# sourceMappingURL=header.css.map */